---
layout: default
---

<div class="sidebar" id="theSidebar">
	<div style="position:absolute;top:15px;left:15px;z-index:999;margin:0;padding:0;display:block;">
		<div style="position:relative;">
			<input id="toggle" type="checkbox"> <label for="toggle" id="toggle-btn"></label>
			<div class="nav-icon"></div>
		</div>
	</div>
</div>
<div class="main" id="theGrid">

	<section class="grid">

		<header class="top-bar"></header>

		<div class="grid__item purple">
			<h1 class="title title--preview">
				{{ site.title }}
			</h1>
		</div>

		{% for post in site.posts %}
		{% assign random = post.time | date: "%s%N" | modulo: site.data.classes.size %}
		<a class="grid__item {{ site.data.classes[random].name }}" href="{{ "#" | prepend: site.baseurl }}">
			<h2 class="title title--preview">
				{{ post.title }}
			</h2>
			<div class="loader"></div>
			<div class="meta meta--preview">
				<span class="meta__date">{{ post.category }}</span>
				<span class="meta__reading-time"><i class="fa fa-calendar-o"></i> 18 Feb</span>
			</div>
		</a>
		{% endfor %}

	</section>

	<section class="content" style="top: 347px;">

		<div class="scroll-wrap">

			<article class="content__item purple">
				<h2 class="title title--full">
					The Denton startup scene.
				</h2>
				<div class="description description--full">
						Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper.
					</div>
			</article>

			{% for post in site.posts %}
			{% assign random = post.time | date: "%s%N" | modulo: site.data.classes.size %}
			<article class="content__item {{ site.data.classes[random].name }}">
				<div class="inner">
					<h2 class="title title--full">
						{{ post.title }}
					</h2>
					<div class="description description--full">
						{{ post.content }}
					</div>
					<div class="meta meta--preview centerLinks">
						<span class="meta__date">{{ post.category }}</span>
						<span class="meta__reading-time"><i class="fa fa-calendar-o"></i> 6 Feb</span>
						<div class="centerLinks">
							{% if post.facebook %}
							<a href="{{ post.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
							{% endif %}
							{% if post.twitter %}
							<a href="{{ post.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
							{% endif %}
							{% if post.website %}
							<a href="{{ post.website }}" target="_blank"><i class="fa fa-link"></i></a>
							{% endif %}
							<br>
							<br>
							<!-- <a href="something" target="_blank"><button>Check them out</button></a> -->
						</div>
					</div>
				</div>
			</article>
			{% endfor %}

		</div>
		<button class="close-button">&nbsp;</button>
	</section>
</div>